<section class="content">
  <main class="card">
    <div class="billboard-layer"></div>
    <div class="hero" style="background-image: url('http://image.tmdb.org/t/p/w780/wDGOk3ulcwGVAVxnPo3jNor97Xj.jpg');"></div>
    <div class="breaking-bad">
      <h1 class="title">The Lord of the Rings: The Return of the King</h1>
      <ul class="meta">
        <li class="year">2014</li>
        <li class="rating">PG-13</li>
        <li class="duration">129 min</li>
        <li class="language">English</li>
      </ul>
      <p class="description">Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam bring the ring closer to the heart of Mordor, the dark lord's
        realm.
      </p>
      <hr class="break" />
      <div class="bottom-info">
      </div>
    </div>
  </main>
</section>
