<html style="background-color: #141414">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Netflix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

  <script src="main.js"></script>
</head>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="netflixLogo">
        <a id="logo" href="#home"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
      </div>
    </header>
    <!-- END OF HEADER -->

    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home">Películas de {{searchText}}</h1>
          <div class="box">
              <a *ngFor="let movie of movies" [routerLink]="['/movie-details', movie['imdbID']]"><img *ngIf="movie['Poster'] !== 'N/A'" src="{{movie['Poster']}}" alt="{{movie['Title']}}"></a>
          </div>
      </div>

    <!-- FOOTER -->
    <footer>
      <p>Pablo Sánchez for EDIBO 5</p>
    </footer>
  </section>
</div>
</body>
